html,body {
	height : 100%; 
	margin: 0px;
	padding: 0px;
} 
div.page 
{
	width: 100%;
	height: 100%;
	min-width: 960px;
	min-height: 650px;
	color: white;
	padding: 0px;
	margin: Opx;
	font-family: 'Brawler', serif;
}
div.bottom-right
{
	position: fixed;
	left:auto;
	right:0;
	bottom:0;
	top:auto;
	margin: 0;
	padding: 15px;
}
div.bottom-left
{
	position: fixed;
	left:0;
	right:auto;
	bottom:0;
	top:auto;
	margin: 0;
	padding: 15px;
}
.container.middle
{
	display: table;
    height: 100%;
}
.row-fluid.middle {
    display: table-cell;
    height: 100%;
    vertical-align:middle;
}

div#main
{
	background-color: #00CCFF; 
}

div#page2
{
	background-color:#0000FF;
}

div.logo
{
	position: absolute;
	background:url(../img/logo.png) no-repeat;
	width: 339px;
	height: 56px;
	left: 50%;
	top: 15px;
	margin-left: -170px;
}

img.logo-os
{
	width: 10%;
}

.spacer {
    margin-top: 10px;
}
